/* You can add global styles to this file, and also import other style files */

$primary: #93b167;
$success: #93b167;
$alert-bg-level: 0;
$alert-color-level: 9;

@import "../node_modules/bootstrap/scss/bootstrap";
